<h1>Configuration</h1>
<app-projet appConfigProperty='projetActif' appConfigValue='{{codeProjet}}' [(codeProjet)]="codeProjet"></app-projet>
<hr>
<app-base-url-ice-scrum appConfigProperty='baseUrlIceScrum' appConfigValue='{{urlRest}}' [(urlRest)]="urlRest"></app-base-url-ice-scrum>
<hr>
<app-login-ice-scrum appConfigProperty='loginIceScrum' appConfigValue='{{loginIceScrum}}' [(loginIceScrum)]="loginIceScrum"></app-login-ice-scrum>
<hr>
<app-passwd-ice-scrum appConfigProperty='passwdIceScrum' appConfigValue='{{passwdIceScrum}}' [(passwdIceScrum)]="passwdIceScrum"></app-passwd-ice-scrum>
<hr>
<button md-raised-button (click)="sauvegarderConfig()">Sauvegarder</button>
<button md-raised-button (click)="testConnxion()">test</button>